#max-icon {
    height: 42px;
    width: 42px;
}

#profile {
    height: 210px;
    width: 210px;
}

#hello {
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Kavivanar', cursive; */
    font-size: 48px;
    text-align: center;
}

#pretty {
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Kavivanar', cursive; */
    font-size: 36px;
    text-align: left;
}

#body-style {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color: #f2f8fa;
}

#blue-nav {
    background-color: #c1e0ff;
    border: none;
}

#darkline {
    border: 1px solid rgb(68, 68, 68);
}

img#main-photos {
    width: 320px;
    height: 240px;
}

#dark-text {
    color: rgb(68, 68, 68);
}

#dark-text:hover {
    color: rgba(0,0,0,1);
}

#div-pad-center {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

#center-text {
    text-align: center;
}

#footer-left-align {
    margin-left: 50%;
}

#glyph-hover:hover {
    color: lightblue;
}

#blog-wrap {
    padding-top: 12px;
    padding-bottom: 12px;
    /* border: 12px rgb(68, 68, 68) solid;
    border-radius: 12px; */
    width: 67%;
    text-align: center;
}

#blog-wrap p {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

#blog-wrap ul {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

div .fig-div {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 67%;
    text-align: center;
}